services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    dns_search:
      - fdatxvault.win
    environment:
      PGID: "${PGID}"
      PUID: "${PUID}"
      HOMEPAGE_ALLOWED_HOSTS: "argon:8992"
    ports:
      - 8992:3000
    restart: unless-stopped
    volumes:
      - ./homepage:/app/config
      - /var/run/docker.sock:/var/run/docker.sock
