stack-homepage/homepage/logs/

# Ignore these because they contain secrets
stack-forgejo/secrets-forgejo.env
stack-homepage/homepage/services.yaml
stack-kestra/application.yaml
stack-kestra/secrets.env
stack-komodo/compose.env
stack-loggifly/loggifly/config.yaml
stack-openproject/.env
stack-openwebui/app.env
stack-openwebui/litellm-config.yaml
stack-resticprofile/pw.key
stack-scrutiny/scrutiny.yaml
stack-tandoor/secrets-tandoor.env
stack-unifinetwork/secrets.env
stack-vikunja/secrets-db.env