stack-homepage/homepage/logs/

# Ignore these because they contain secrets
stack-homepage/homepage/services.yaml
stack-kestra/application.yaml
stack-kestra/secrets.env
stack-loggifly/loggifly/config.yaml
stack-openproject/.env
stack-resticprofile/pw.key
stack-tandoor/secrets-tandoor.env
stack-unifinetwork/secrets.env