name: stack-loggifly_argon

services:
  loggifly:
    container_name: loggifly
    environment:
      - TZ=${TZ}
    image: ghcr.io/clemcer/loggifly:latest
    restart: unless-stopped
    volumes:
      - ./loggifly/config.yaml:/app/config.yaml
      - /var/run/docker.sock:/var/run/docker.sock
