name: stack-forgejo_argon

networks:
  forgejo:
    external: false

services:
  server:
    container_name: forgejo-server
    depends_on:
      - db
    env_file:
      - secrets-forgejo.env
    environment:
      - USER_UID=${PUID}
      - USER_GID=${PGID}
      - FORGEJO__database__DB_TYPE=postgres
      - FORGEJO__database__HOST=db:5432
      - FORGEJO__database__NAME=forgejo
      - FORGEJO__database__USER=forgejo
    image: codeberg.org/forgejo/forgejo:8
    networks:
      - forgejo
    ports:
      - '3000:3000'
      - '222:22'
    restart: unless-stopped
    volumes:
      - ${DOCKERDATADIR}/forgejo/data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro

  db:
    container_name: forgejo-db
    env_file:
      - secrets-forgejo.env
    environment:
      - POSTGRES_USER=forgejo
      - POSTGRES_DB=forgejo
    image: postgres:14
    networks:
      - forgejo
    restart: unless-stopped
    volumes:
      - ${DOCKERDATADIR}/forgejo/postgres:/var/lib/postgresql/data
