name: stack-changedetection_argon

services:
  changedetection.io:
    image: dgtlmoon/changedetection.io
    container_name: changedetection.io
    environment:
      - PGID=${PGID}
      - PUID=${PUID}
      - TZ=${TZ}
    logging:
      driver: json-file
      options:
        max-file: ${DOCKERLOGGING_MAXFILE}
        max-size: ${DOCKERLOGGING_MAXSIZE}
        labels-regex: "^.+"
    restart: unless-stopped
    ports:
      - 5000:5000
    volumes:
      - ${DOCKERDATADIR}/changedetection:/datastore
