name: stack-tandoor_argon

services:
  db_recipes:
    container_name: tandoor-db
    env_file:
      - ./secrets-tandoor.env
      - ./tandoor.env
    image: postgres:15-alpine
    networks:
      - tandoor
    restart: unless-stopped
    volumes:
      - ${DOCKERDATADIR}/tandoor/postgresql:/var/lib/postgresql/data

  web_recipes:
    container_name: tandoor-web
    depends_on:
      - db_recipes
    env_file:
      - ./secrets-tandoor.env
      - ./tandoor.env
    image: vabene1111/recipes
    networks:
      - tandoor
    ports:
      - 8014:80
    restart: unless-stopped
    volumes:
      # Do not make this a bind mount, see https://docs.tandoor.dev/install/docker/#volumes-vs-bind-mounts
      - staticfiles:/opt/recipes/staticfiles
      - ${DOCKERDATADIR}/tandoor/mediafiles:/opt/recipes/mediafiles

networks:
  tandoor:

volumes:
  staticfiles:
